<div class="about-container">
  <h1>About</h1>
  <section class="description">
    <p>
      At this lab work we've learned how to use Route and HTTP modules and how to 
      handle with Observable technique. It wasn't easy<br>
      <span class="link-lab-text"><a href="https://docs.google.com/document/d/114Wr4YzCYYtrNSrjApFQ2MJXCHdRTTvJCVLAlHstt8I/edit" target="_blank">Here</a></span> you can see the full requirements for this lab ->
    </p>
    <a href="https://docs.google.com/document/d/114Wr4YzCYYtrNSrjApFQ2MJXCHdRTTvJCVLAlHstt8I/edit" target="_blank">
      <img src="../../assets/link-lab.png" alt="link-photo" class="link-photo">
    </a>
  </section>
</div>
